{% from 'includes/shell_session.j2' import shell_session %}

{% block lead_paragraph %}
This is a quick follow-up to [an earlier post today](https://blog.wizardsoftheweb.pro/quickly-detect-cursor-position-and-color/). I don't have much to add, just more code and some (basic) graphs. Direct Xlib usage is seriously the way to go.
{% endblock %}

{% include 'includes/front_matter.j2' %}

{% block content %}

## Code

You can find everything here [in the repo](https://github.com/wizardsoftheweb/linux-automation-cursor-detection).

{% endblock %}

